@import "../../utils/variables";

.project_card {
    background-color: $colors-secondary-button;
    padding: 8px;
    border-radius: 10px;
    max-width: 250px;
    perspective: 100px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    margin: 0 auto;
}

.pi_image {
    width: 100%;
    border-radius: 6px;
}

.pi_bottom {
    margin-top: 7px;
}

.pi_name {
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pi_desc {
    margin-top: 4px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pi_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.flip_button {
    height: 19px;
    width: 19px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}

.project_card.flip {
    transform: rotateY(180deg);
}

.card_front,
.card_back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: $colors-secondary-button;
}

.card_back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    border-radius: 8px;
    margin-left: -8px;
    top: 0;
}

.card_back_wrapper {
    position: relative;
    width: calc(100% - 16px);
    height: calc(100% - 16px);

    & .flip_button {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.pi_desc_full {
    font-size: 14px;
}