@import "../../utils/variables";

.projects {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 150px 0px 100px 0px;
}

.projects_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 20%));
    justify-content: center;
    gap: 30px;
}

.section_header {
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 32px;
    font-weight: 600;
    font-family: $font-family-headers;
    height: 100%;
    padding-left: 10px;
    margin-left: -10px;
    pointer-events: none;
}