#contact_modal {
    height: 600px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    display: none;
    animation: modal_open_animation 0.3s linear;

    @media (max-width: 800px) {
        width: 100%;
    }
}

@keyframes modal_open_animation {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
    }

    70% {
        transform: translate(-50%, -50%) scale(1.07);
    }

    90% {
        transform: translate(-50%, -50%) scale(.98);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.contact_modal_open {
    display: block !important;
}

.contact_modal_close {
    animation: modal_close_animation 0.3s ease-in-out forwards !important;
}

@keyframes modal_close_animation {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(.4);
        opacity: 0;
    }
}

#contact_modal_background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
}

.contact_modal_title {
    position: absolute;
    top: 20px;
    left: 50%;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: .5px;
    height: 40px;
    color: rgba(0, 0, 0, 0.9);
    transform: translateX(-50%);

    @media (max-width: 400px) {
        left: 45%;
        font-size: 30px;
    }
}

.contact_modal_close_icon {
    position: absolute;
    top: 20px;
    right: 25px;
    height: 40px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;

    @media (max-width: 400px) {
        height: 34px;
    }
}