#contact_modal {
    height: 600px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    display: none;
    animation: modal_open_animation 0.3s linear;

    & svg {
        color: rgba(0, 0, 0, 0.8);
    }

    @media (max-width: 800px) {
        width: 100%;
    }
}

@keyframes modal_open_animation {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
    }

    70% {
        transform: translate(-50%, -50%) scale(1.07);
    }

    90% {
        transform: translate(-50%, -50%) scale(.98);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.contact_modal_open {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

.contact_modal_close {
    animation: modal_close_animation 0.3s ease-in-out forwards !important;
}

@keyframes modal_close_animation {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(.4);
        opacity: 0;
    }
}

#contact_modal_background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
}


.contact_modal_heading {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
}

.contact_modal_title {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: .5px;
    color: rgba(0, 0, 0, 0.9);
    margin-left: 50%;
    transform: translateX(-50%);
    height: 40px;

    @media (max-width: 400px) {
        font-size: 30px;
        height: 34px;
        margin-left: calc(50% - 20px);
    }
}

.contact_modal_close_icon {
    position: absolute;
    right: 25px;
    height: 40px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;

    @media (max-width: 400px) {
        height: 34px;
    }
}


.contact_modal_content {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    max-height: calc(100% - 80px);
    padding: 0px 15px;
    margin-top: -40px;
}

.modal_content_heading {
    font-size: 22px;
    margin-bottom: 30px;
    max-width: 650px;
}

.modal_content_separator {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 500px;

    &:before {
        content: "";
        flex: 1 1;
        border-bottom: 2px solid black;
        margin: auto;
        margin-right: 10px
    }

    &:after {
        content: "";
        flex: 1 1;
        border-bottom: 2px solid black;
        margin: auto;
        margin-left: 10px
    }

}

.modal_content_mail {
    font-size: 20px;
    padding-left: 15px;
    color: rgb(103, 49, 49);

    &:hover {
        text-decoration: underline;
        color: rgb(158, 72, 72);
    }

    & svg {
        margin-right: 10px;
        font-size: 28px;
        vertical-align: sub;
    }

    @media (max-width: 400px) {
        padding-left: 0px;

        & svg {
            display: none;
        }
    }
}

.contact_modal_bottom {
    height: 1px;
}