@import "../../utils/variables";

#navbar {
    display: flex;
    height: 70px;
    align-items: center;
    margin: 10px auto;
    justify-content: space-between;
}

.navbar__wrapper_left {
    display: flex;
    align-items: center;
    width: 30%;
}

.navbar__wrapper_right {
    width: 50%;
}

.heading {
    font-family: $font-family-headers;
}

.navbar_title {
    margin-left: 12px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.separator {
    height: 30px;
    width: 2px;
    background-color: black;
}