@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*----COLORS----*/

$colors-primary: #15110a;
$colors-secondary: #fdf8ea;
$colors-primary-button: #713336;
$colors-secondary-button: #ece7e5;
$colors-accent: #acac68;

/*----FONT-FAMILY----*/

$font-family-headers: 'Roboto', sans-serif;
$font-family-default: 'Open Sans', sans-serif;