@import "../../utils/variables";

.navbar_circle {
    background: $colors-accent;
    background-size: cover;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, .6) 1px 1px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_circle_icon {
    height: 60%;
    color: rgba(0, 0, 0, 0.8);
}