@import "../../utils/variables";

.navbar_circle {
    background: $colors-accent;
    background-size: cover;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_circle img {
    height: 100%;
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}